* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  width: 100%;
  height: 250px;
  background-color: black;
}

.p-p {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;

}

.profile {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  position: relative;
}

.project {
  width: 75%;
  height: 100%;
}

.profile-i {
  width: 85%;
  background-color: white;
  position: absolute;
  box-shadow: 0px 0px 9px 0px #cfcfcf;
  top: -150px;
  border-radius: 9px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.avt {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: -1px 1px 20px 1px #e3e3e3;
  position: relative;
  border-radius: 100%;

}

.avt img {
  border-radius: 100%;

}

.avt::after {
  position: absolute;
  content: '';
  width: 110%;
  height: 110%;
  /* background-color: red; */
  left: -6%;
  top: -7%;
  border-radius: 100%;
  border: 1px solid #135DFA;
  z-index: 0;
}

.hoten {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(32, 32, 32);
  font-weight: 500;
}

.position {
  margin-top: 8px;
  font-size: 16.5px;
  color: rgb(73, 73, 73);
}

.button-blue {
  width: 45%;
  height: 35px;
  background-color: #135DFA;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 20px;
}

.button-white {
  width: 45%;
  height: 35px;
  background-color: white;
  color: black;
  border: 1px solid rgb(197, 197, 197);
  outline: 0;
  border-radius: 20px;
}

.action {
  width: 85%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.pagrap {
  width: 85%;
  margin-top: 25px;
}

.tdpag {
  margin-bottom: 6px;
  color: black;
  font-weight: 600;
}

.noidungpag {
  color: rgb(85, 85, 85);
  font-size: 16px;
}

.noidungpag a {
  color: rgb(85, 85, 85);
  font-size: 16px;
}

.chuapj {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.pj {
  width: 30%;
  height: 240px;
  background-color: black;
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1.5%;
  box-shadow: 6px 2px 10px 0px lightgrey;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.pj::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}
.pj:hover {
  /* box-shadow: 6px 6px 10px 0px #7ba5ff8e; */
  box-shadow: 11px 13px 9px 0px #cfcfcf;
}
.pj:hover.pj::before{
  background-color: rgba(0, 0, 0, 0);
}
.detailpj{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.namepj{
  font-weight: 500;
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}
.tech{
  font-weight: 400;
  color: rgb(216, 216, 216);
  font-size: 16px;
  margin-bottom: 5px;
  font-style: italic;
}
.detailsp{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  color: rgb(197 197 197 / 78%);
}
body{
  position: relative;
  height: 100%;
}
.dtpo{
  width: 100%;
  position: fixed; 
  top: 0; right: 0; bottom: 0; left: 0; 
  display: flex;
  justify-content: center;
  height: 100vh;
}
.indiv{
  width: 70%;
  /* background-color: black; */
  overflow-y: scroll;
  overscroll-behavior: contain;
  color: white;
}
.indiv::-webkit-scrollbar {
  display: none;
}
.outdiv{
  width: 15%;
  background-color: #000000b5;

}

.imgofbanner{
  object-position: 0 -254px;
}